:root{
  transition-delay: 300ms;
  --main-bg-color:white;
  --main-text-color: #495057;
  --app-text-color: #2c3e50;
  --main-link-color: #007bff;
  --main-line-color: rgba(0,0,0,0.125);
  --main-bg-hover-color: #f8f9fa;
}

html[data-theme='light']{
  --main-bg-color:white;
  --main-text-color: #495057;
  --app-text-color: #2c3e50;
  --main-link-color: #007bff;
  --main-line-color: rgba(0,0,0,0.125);
  --main-bg-hover-color: #f8f9fa;
}

html[data-theme='dark']{
  --main-bg-color:#2c3e50;
  --main-text-color: white;
  --app-text-color: white;
  --main-link-color: #5dbcd2;
  --main-line-color: rgba(255,255,255,0.3);
  --main-bg-hover-color: rgba(255,255,255,0.3);;
}

svg{
  color: var(--main-bg-color) !important;
}

.list-group-item{
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-line-color);
  color: var(--main-text-color);
}

.list-group-item:hover{
  background-color: var(--main-bg-hover-color);
  border: 1px solid var(--main-line-color);
  color: var(--main-text-color);
}

.badge-primary{
  background-color: var(--main-link-color);
  color: var(--main-bg-color);
}

body {
  background-color: var(--main-bg-color);
}

h1,h2,h3,h4,h6,p {
  color: var(--main-text-color);
}

a, a:hover, h5{
  color: var(--main-link-color);
}

.btn-outline-primary {
  color:var(--main-link-color);
  border-color: var(--main-link-color);
}

#app{
  color: var(--app-text-color);
}

#app .router-link-exact-active{
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.card{
  background-color: var(--main-bg-color);
  border:1px solid var(--main-line-color);
}